<app-banner></app-banner>

<mat-toolbar id="banner1">
    Unlock the future of asset management with agile mobile robots.
    <button id="button" mat-raised-button> REGISTER NOW </button>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-toolbar id="banner2">
  <mat-card id="cardInBanner1">
    <mat-card-title>NAVIGO</mat-card-title>
    <mat-card-subtitle>Automate data capture and inspection.</mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button>SEE NAVIGO</button>
    </mat-card-actions>
  </mat-card>
</mat-toolbar>


  <mat-grid-list cols="2" rowHeight="600px">
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-title>Introducing the Navigo</mat-card-title>
        <mat-card-actions>
          <button mat-button>LEARN MORE></button>
        </mat-card-actions>
        <img mat-card-image src="assets/banner1.png" alt="">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-title>Introducing the Navigo</mat-card-title>
        <mat-card-actions>
          <button mat-button>LEARN MORE></button>
        </mat-card-actions>
        <img mat-card-image src="assets/banner1.png" alt="">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
<app-footer></app-footer>
